include ../mixins/sub-menu.pug

header.header 
    .container 
        .row.align-items-center 
            .col-3 
                .inner-logo 
                    a(href="/")
                        img(src="/images/logo.jpg" alt="Logo" width="200px")
            .col-5 
                    
                form(
                    action="/search"
                    method="GET" 
                )
                    div(class="form-group d-flex mb-0")
                        input(
                            type="text"
                            placeholder="What you want?"
                            class="form-control"
                            name="keyword"
                            value=keyword
                        )
                        button(
                            type="submit"
                            class="btn btn-primary"
                        ) Find
            .col-4
                .inner-menu 
                    ul 
                        li 
                            a(href="/") Trang chu 
                        li(class="sub-menu")
                            -const pathProduct = "/products";
                            a(href=pathProduct) San pham
                                +sub-menu(layoutProductsCategory, pathProduct)
                        li 
                            a(href="/cart") Cart (#{miniCart? miniCart.totalQuantity : 0})
                        if(user)
                            li 
                                a(href="/user/logout") Log out
                        else
                            li
                                a(href="/user/login") Log in
                            li 
                                a(href="/user/register") Register
