extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main 
    +alert-success(5000)

    h1(class="mb-4") Permission Delegation
    if(records)
        div(data-records=records)
        div(class="text-right")
            button(
                type="submit"
                class="btn btn-primary mb-3"
                button-submit
            ) Submit 

        table(
            class="table table-hover table-sm"
            table-permissions
        )
            thead 
                tr 
                    th Features 
                    each item in records
                        th(class="text-center") #{item.title}
            tbody
                tr(data-name="id" class="d-none")
                    td 
                    each item in records 
                        td(class="text-center")
                            input(type="text" value=item.id)
                tr 
                    td(colspan="4")
                        b List of categories 

                tr(data-name="products-category_view")
                    td View 
                    each item in records
                        td(class="text-center")
                            input(type="checkbox")

                tr(data-name="products-category_create")
                    td Add 
                    each item in records
                        td(class="text-center")
                            input(type="checkbox")

                tr(data-name="products-category_edit")
                    td Edit
                    each item in records
                        td(class="text-center")
                            input(type="checkbox")

                tr(data-name="products-category_delete")
                    td Delete 
                    each item in records
                        td(class="text-center")
                            input(type="checkbox")
                //- products 
                tr 
                    td(colspan="4")
                        b List of products 

                tr(data-name="products_view")
                    td View 
                    each item in records
                        td(class="text-center")
                            input(type="checkbox")

                tr(data-name="products_create")
                    td Add 
                    each item in records
                        td(class="text-center")
                            input(type="checkbox")

                tr(data-name="products_edit")
                    td Edit
                    each item in records
                        td(class="text-center")
                            input(type="checkbox")

                tr(data-name="products_delete")
                    td Delete 
                    each item in records
                        td(class="text-center")
                            input(type="checkbox")
                //- account
                tr 
                    td(colspan="4")
                        b Account 
                tr(data-name="accounts_view")
                    td View 
                    each item in records 
                        td(class="text-center")
                            input(type="checkbox")
                tr(data-name="accounts_create")
                    td Create 
                    each item in records 
                        td(class="text-center")
                            input(type="checkbox")
                tr(data-name="accounts_edit")
                    td Edit 
                    each item in records 
                        td(class="text-center")
                            input(type="checkbox")
                tr(data-name="accounts_delete")
                    td Delete 
                    each item in records 
                        td(class="text-center")
                            input(type="checkbox")
                //- Permissions
                tr 
                    td(colspan="4")
                        b Permissions 
                tr(data-name="permissions_view")
                    td View 
                    each item in records 
                        td(class="text-center")
                            input(type="checkbox")
                tr(data-name="permissions_create")
                    td Create 
                    each item in records 
                        td(class="text-center")
                            input(type="checkbox")
                tr(data-name="permissions_edit")
                    td Edit 
                    each item in records 
                        td(class="text-center")
                            input(type="checkbox")
                tr(data-name="permissions_delete")
                    td Delete 
                    each item in records 
                        td(class="text-center")
                            input(type="checkbox")
                //- Permission Delegation
                tr 
                    td(colspan="4")
                        b Permissions Delegation 
                tr(data-name="permissions-delegation_view")
                    td View 
                    each item in records 
                        td(class="text-center")
                            input(type="checkbox")
                tr(data-name="permissions-delegation_create")
                    td Create 
                    each item in records 
                        td(class="text-center")
                            input(type="checkbox")
                tr(data-name="permissions-delegation_edit")
                    td Edit 
                    each item in records 
                        td(class="text-center")
                            input(type="checkbox")
                tr(data-name="permissions-delegation_delete")
                    td Delete 
                    each item in records 
                        td(class="text-center")
                            input(type="checkbox")

    form(
        id="form-change-permissions"
        method="POST"
        action=`${prefixAdmin}/roles/permissions?_method=PATCH`
        class="d-none"
    )
        div(class="form-group")
            input(
                type="text"
                class="form-control"
                name="permissions"
            )

    script(src="/admin/js/roles.js")